<h1 class="text-center m-4 h1">Employee Addresses</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>House Name</th>
    <th>Street Name</th>
    <th>Road</th>
  </tr>

  <tr>
    <td><%= employee_addresses.house_name %></td>
    <td><%= employee_addresses.street_name %></td>
    <td><%= employee_addresses.road %></td>
  </tr>
</table>