  <h3 class="text-center mt-5"> Home Page </h3>
  <table class="table table-info table-striped-columns w-25 text-dark mx-auto">
    <tr>
      <th>Actions</th>
    </tr>
    <tr>
      <td>
        <%= link_to @text1, @link1 , class: "text-decoration-none text-dark btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to @text2, @link2, class: "text-decoration-none text-dark btn" %>
      </td>
    </tr>
  </table>
